/* L1 */

.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
    flex-basis: calc(20% - 20px);
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-title{
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
}

/* L2 */
.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p{
    margin: 0;
}

.welcome-mes, .login-prompt{
    font-size: 2.5em;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}
.welcome-mes{
    background-color: hsl(120, 100%, 42%);
}

.login-prompt{
    background-color: hsl(16, 90%, 49%);
}

/* L3 */
.listCat{
    font-size: 2.5em;
    font-weight: bold;
    color:hsl(0, 0%, 20%, 1);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: hsl(185, 100%, 50%);
}

.listItem li{
    font-size: 2em;
    list-style: none;
    color: hsl(0, 0%, 25%);
    text-align: center;
    margin: 0;
}

.listItem li:hover{
    color: hsl(0, 0%, 45%);
    cursor: pointer;
}

/* L4 */
.styleButton{
    background-color: hsl(100, 100%, 50%);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* L7 */
.box{
    border: 3px solid;
    padding: 25px;
}